$color-black:black;
$color-white:white;
// $font-size:

//'Press Start 2P' to call the font
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    color: $color-white;
    background-color: $color-black;
    font-family: 'Press Start 2P';
}

header {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characters {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    p {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 10px;
    }
    // .knight {
    //     width: 1fr;
    // }
    // .wizard {
    //     width: 1fr;

    // }
    .button {
        margin-top: 20px;
        font-family: 'Press Start 2P';
        max-width: 100px;
        
    }
}